header{
    height: 70px;
}
.navigation{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo-container{
    height: 26px;
    width: 82px;
    margin: 0px 70px;
    font-size: 22px;
    font-weight: bold;
    color: white; 
    cursor: pointer;
}
.logo-container span{
    color: rgba(67, 175, 255, 1);
}
.btn-container{
    width: 148px;
    height: 46px;
    margin: 0px 70px;
}
.btn-container button{
    font-size: 1rem;
    width: 100%;
    height: 100%;
    background: rgba(67, 175, 255, 0.2) 0% 0% no-repeat padding-box;
    border: 1px solid rgba(67, 175, 255, 1);
    color: white;
    border-radius: 5px;
    transition: all 0.2s linear;
}

.btn-container button span{
    cursor: pointer;
    transition: all 0.2s linear;
    color: white;
}
.btn-container button:hover{
    border-radius: 0;
    background-color: rgba(67, 175, 255, 0.8);
}
.btn-container button span:hover{
    text-decoration: underline;
}
.underline{
    background:rgba(77, 97, 142, 1);
    height: 1px;
    width: 1300px;
    position: absolute;
    top: 100%;
    left: 70px;
}

.after-btn-container{
    margin: 0px 70px;
}
.post-a-job{
    background-color: transparent;
    border: none;
    margin-right: 2rem;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
}
.logout{
    background-color: white;
    color: #303F60;
    width: 100px;
    text-align: left;
    padding: 0.5rem;
}
