.heading{
    font-size: 22px;
}
.password-instructions{
    font-size: 14px;
    margin-top: 1rem;
}
.submit-btn{
    display: block;
    /* margin: 3rem auto; */
    height: 46px;
    width: 150px;
    font-size: 1rem;
    color: white;
    background-color: rgba(67, 175, 255, 1);
    border: 1px solid rgba(67, 175, 255, 1);
    border-radius: 5px;
    transition: all 0.2s linear;
    cursor: pointer;
}
.submit-btn:hover{
    border-radius: 0;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(67, 175, 255, 0.8);
}