
*,
::after,
::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body{
  background-color: rgb(237, 246, 255);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  color:#303F60;
  overflow-x: hidden;
}
h2{
  font-size: 22px;
}
p{
  font-size: 14px;
}

main{
  width: 75vw;
  margin:auto;
}
.link{
  text-decoration:"none";
}
.background-overlay{
  height: 365px;
  width: 100vw;
  background: linear-gradient(248deg, rgba(48,63,96,1), rgba(26,37,60,1));
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.bg-small{
  height: 250px!important;
}
.bg-medium{
  height: 365px!important;
}
.bg-large{
  height: 464px!important;
}
.blue-txt{
  color: rgba(67, 175, 255, 1)!important;
}
.blue-bg{
  background-color: rgba(67, 175, 255, 1);
}
.card{
  width: 550px;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 30px 36px #557DA526;
  margin: 5rem auto ;
}
